.content-container {
    height: 600px;
    background-color: darkorchid;
}
/* 
.text-content {
    width: 480px;
    background-color: #ffffff;
    padding: 6rem 0 0 6rem;
    position: absolute;
    bottom: 0;
    right: 250px;
}

.text-content h1 {
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
}

.text-content p {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6rem;
    color: hsl(0, 0%, 55%);
} */
