.sidebar {
    display: flex;
    flex-direction: column;

    background-color: #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: 200ms ease-out;
    padding: 3rem;
    z-index: 100;
}

.sidebar.active {
    left: 0;
    transition: 200ms ease-in;
}

.sidebar__container {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.sidebar__items {
    display: flex;
    flex-direction: column;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    margin: auto 0;
}

.sidebar__item:not(:last-child) {
    margin-bottom: 3rem;
}

.close :hover {
    color: #aaa;
    cursor: pointer;
}
